.competition {
  position: relative;
  margin: 0 0 20vh 0;
}

.activity {
  padding: 20vh 7vw 20vh 57vw;
  min-height: calc(55vw / 16 * 9);
}

.activity:nth-child(2) {
  padding: 0 7vw 20vh 57vw;
}

.activity:last-child {
  padding: 20vh 7vw 0 57vw;
}

.activity:nth-child(odd) {
  background-color: #fff2cc;
}

@media (max-height: 600px) {
    .activity:nth-child(2) {
        margin-top: calc(55vw / 16 * 9);
    }
}

.activity h1 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 4rem;
  margin: 0;
}

.activity h2 {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "微軟正黑體", sans-serif;
  margin: 50px 0 10px 0;
}

.activity p {
  font-family: "Noto Sans TC", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.photo-frame-wrapper {
  position: absolute;
  width: 55%;
  height: calc(100% - 55vw / 16 * 9);
  padding-bottom: 55vw / 16 * 9;
}

.photo-frame-container {
  position: sticky;
  top: calc(50% - 55vw / 16 * 9 / 2);
  left: 0;
  width: 100%;
}

.photo-frame {
  position: absolute;
  top: 0%;
  left: -10%;
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: -1;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.photo-frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .competition {
    position: relative;
    margin: 15vh 0 20vh 0;
  }

  .activity,
  .activity:nth-child(2) {
    padding: 40vh 10vw 10vh 10vw;
  }

  .activity:last-child {
    padding: 40vh 10vw 0 10vw;
  }

  .activity h1 {
    font-size: 3.5rem;
  }

  .activity h2 {
    font-size: 2rem;
    margin: 20px 0 10px 0;
  }

  .activity p {
    font-size: 1.2rem;
  }

  .photo-frame-container {
    top: calc(15% - 55vw / 16 * 9 / 2);
  }

  .photo-frame-wrapper {
    height: calc(100% - 55vw / 16 * 9 * 3 / 2);
  }

  .photo-frame {
    width: 85vw;
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .photo-frame {
    display: none;
  }
}